input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.slider-container{
    position: relative;
    height: 20px;
    width: 210px;
    display: inline-block;
    margin-left: 20px;
}
.slider-container input{
    position: absolute;
}

.slider-container span{
    position: absolute;
    margin-top: 8px;
}

.slider-container span.left-label{
  left: -15px;
  top: -5px;
}

.slider-container span.right-label{
  position: relative;
  float: right;
  margin-right: -25px;
  top: -5px;
}

.badge {
  margin: 0rem .25rem 0rem .25rem;
}

.comments-wrapper {
  width: 80%;
}

.resource-wrapper {
  width: 80%;
}